<h1> Content Page </h1>
<p>
	<div class="media">
		<a class="pull-left" href="http://www.skillshare.com/Teach-Yourself-to-Code-One-Month-Rails/1289605848/1921775376/projects/5631?saved=1">
		<img class="media-object" data-src="http://technology.inc.com/wp-content/uploads/2011/08/skillshare-logo-150x150.jpg64x64">
		</a>
	<div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Skills that Im learging on Skillshare are definitly valuable in the progressions of my life and my career. I am greatful for this opportunity. 
    <div class="media">
   </div>
  </div>
 </div>	
</p>