$btnInverseBackground: DarkRed;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

$baseFontFamily: Roboto Condensed;
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

@import 'bootstrap';

body { 
	padding-top: 70px;
	}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a { 
		color: $gray
	}

}